@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blue;
    background-size: cover;
    background-position: center;
}
.header {
    font-size: 22px;
    width: 420px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    width: 100%;
    text-align: center;
}


.input-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: blue;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    width: 500px;
}
.input-box {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 30px 30%;
}

.input-box input {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
border: 2px solid goldenrod;
border-radius: 10px;
font-size: 16px;
color: black;
padding: 12px 35px 12px 12px;
}

.input-box h1 {
    font-size: 37px;
    margin-top: 10px;
    text-align: center;
}

.input-box p {
    margin-top: 25px;
    text-align: center;
    color: black;
}

.input-box button {
    width: 50%;
    height: 100%;
    margin: 30px 25%;
    background: blue;
    border: none;
    outline: none;
border: 2px solid goldenrod;
border-radius: 10px;
font-size: 16px;
color: #fff;
padding: 10px 35px 10px 10px;
box-align: center;
}

.input-box input::placeholder{
    color: blue; 
} 

    .input-box i {
        position: absolute;
        right: 50px;
        top: 56.5%;
        transform: translateY(-50%);
        font-size: 20px;
    }
    